name: Verify (Reusable Workflow)

on:
  workflow_call:
    inputs:
      repository:
        type: string
        default: 'eclipse-hawkbit/hawkbit'
      ref:
        type: string
        default: 'master'
      maven_properties:
        type: string
        default: ''

permissions:
  contents: read

concurrency:
  group: verify-${{ inputs.repository }}-${{ inputs.ref }}
  cancel-in-progress: true

jobs:
  reusable_workflow_verify:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    services:
      rabbitmq:
        image: rabbitmq:3-management-alpine
        env:
          RABBITMQ_DEFAULT_VHOST: /
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest
        ports:
          - 15672:15672
          - 5672:5672

    steps:
      - name: Parameters
        run: |
          echo "Repository: ${{ inputs.repository }}"
          echo "Ref: ${{ inputs.ref }}"
          echo "Maven Properties: ${{ inputs.maven_properties }}"

      - name: Checkout source
        uses: actions/checkout@v6
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.ref }}
          fetch-depth: 1
          submodules: false
          lfs: false

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Check file license headers
        run: mvn license:check -PcheckLicense --batch-mode

      - name: Run tests
        run: mvn clean verify -PgenerateTestReport ${{ inputs.maven_properties }} --batch-mode

      - name: Generate Javadoc
        run: mvn javadoc:javadoc -DdetectOfflineLinks=false --batch-mode

      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: target/**/surefire-reports
          retention-days: 7
